/* CSS Document */

@media (min-width: 768px) {
  .container {
    width: 1000px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 1000px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}
body{
	background-image:url(../images/bg_3.png);
	background-color:transparent;
	background-repeat:repeat;
}

.navbar .container{
	background-color1:#ffffff;
}
.left-column{
	background-color:#ffffff;
	padding:10px;	
}

.main-column {
	background-color:#ffffff;
	padding:10px;
}
.right-column {
	background-color:#ffffff;
}

.main-content p a{
	color:#5f5e5e;	
	font-style1:italic;
	text-indent: 10px;
}

.main-content h1{
	color:#004275;	
	font-size:18px;
	margin-top:5px;
	margin-left1:10px;
}
.home_left_col h2{
	color:#5f5e5e;	
	font-size:16px;
	line-height:0%;
}
.main-content{
	min-height:700px;
	padding-bottom:30px;
}
.row{
	color:#5f5e5e;	
}
.row p a{
	color:#5f5e5e;	
}
.row p a:hover{
	color:red;	
	text-decoration:none;
}

.navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
}
.navbar-default {
    border: 0;
    1background-color: inherit;
	background-color: #afd1e3;
}
/* start positioning menu*/
.navbar-default {
	height:145px;
	margin-bottom: 40px;
	padding-bottom:10px;
}
.navbar-default .container{
	position:relative;
	height:100%;
}
#defaultNavbar1{
	background-color:#004275;
	width:100%;
}
/*end positioning menu*/
#defaultNavbar1{
	font-size:15px;	
    text-align: right;
}
#defaultNavbar1 a{
	color:#fff;
	font-weight1:bold;
	
}
#defaultNavbar1 a:hover{
	color:#ed1c24;
}

#defaultNavbar1 .navbar-nav>li>a {
	border-right: 1px solid #fff;
	padding:0 32px;
    margin-top: 10px;
    margin-bottom: 10px;
	letter-spacing:1px;	
}
#defaultNavbar1 .navbar-nav>li:last-child>a {
	border-right:0;
}

h2{
	font-size:15px;
	text-transform:capitalize;
	color:#5f5e5e;	
	letter-spacing:1px;
	line-height:1.35;
}

.img_left{
	float:left;
	margin:15px 15px 0 0;	
}
.img_right{
	float:right;
	margin:15px 0 15px 15px;	
}
.col-xs-6{
	padding-left:15px;
	padding-right:15px;
	
}
