/* CSS Document */

@media (min-width: 768px) {
  .container {
    1width: 970px;
	width: 1070px;	
  }
}
@media (min-width: 992px) {
  .container {
    1width: 970px;
	width: 1070px;
  }
}
@media (min-width: 1200px) {
  .container {
    1width: 970px;
    width: 1070px;
   
  }
}
.row {
	padding: 0 15px;
}
.row .row-noheader{
	margin: -15px -15px;
}

body{
	background-image:url(../images/deep_sea_bg.jpg);
	background-attachment: fixed;
	background-size:cover;
	max-height:500px;
}

.left-column{
	padding:10px;	
}

.main-column {
	margin-top:20px;
	padding:10px;
}

.right-column {
}

.main-content{
	background-color:#ffffff;
	min-height:430px;
	padding-bottom:30px;
	margin-bottom:1em;
}
.main-content p a{
	color:#5f5e5e;	
	font-style1:italic;
	text-indent: 10px;
}
h1{
	color:#FFFFFF;
	font-size:28px;
	padding-left:20px;
	
}
.main-content h1{
	color:#004275;	
	font-size:18px;
	margin-top:5px;
}
.home_left_col h2{
	color:#5f5e5e;	
	font-size:16px;
	line-height:0%;
}
.row{
	color:#5f5e5e;	
}
.row p a{
	color:#5f5e5e;	
}
.row p a:hover{
	color:#1e51b4;	
	text-decoration:none;
}
.navbar-my{
	margin:0;
	margin-left:-15px; 
	margin-right:-15px;
    border: 0;
	font-size:14px;	
	background-color: white;
	position: relative;
	border-radius: 0;
}
.navbar-contact{
    text-align: right;
	padding-top: 8px;
	padding-bottom: 8px;

	background-color: #1f4c9b;
	background-color1: rgba(31,76,155,0.70);
}
.navbar-contact a {
	margin: 4px;
	color:#F8F0F1  !important; ;
}
.navbar-my .navbar-logo{
	text-align:left;
	display: inline-block;
	padding: 15px;
}
.navbar-my .navbar-nav {
	right: 0;
	bottom: 17px;
	position:absolute;
	padding-right: 15px;

	display: inline-block;
	vertical-align: top;
}
.navbar-my .navbar-nav a{
	font-family: "Comfortaa";
	font-style1: normal;
	font-weight1: 600;
	font-size:17px;		
	color:#004275;
	border-bottom: solid 1px transparent;
}
.navbar-my .navbar-nav a:hover,.navbar-my .navbar-nav a:focus{
	color: inherit !important;
	background-color:transparent !important; 
	1text-decoration:underline !important; 
	border-bottom: solid 1px #ed1c24;
}
.navbar-my .navbar-nav>li>a {
	padding:0;
	margin:10px 5px;
	letter-spacing:1px;	
}

.site-header{
	background-color: #1f4c9b;
	background-color: rgba(31,76,155,0.60);
	
	padding: 15px;
	color: white;	
}

h2{
	font-size:15px;
	text-transform:capitalize;
	color:#5f5e5e;	
	letter-spacing:1px;
	line-height:1.35;
}

.img_left{
	float:left;
	margin:15px 15px 0 0;	
}
.img_right{
	float:right;
	margin:15px 0 15px 15px;	
}
.col-xs-6{
	padding-left:15px;
	padding-right:15px;
	
}

/* carousel */
#carousel-home-news .carousel-caption {
    bottom: 0;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    right: 0;
    left: 0;
    background-color1: rgba(0, 0, 0, 0.3);
}
.carousel-inner .item img{
	width1: 800px;
}
#carousel-home-news .item h2, #carousel-home-news .item a {
    color: white;
    text-decoration: none;
}
#carousel-home-news .carousel-indicators {
    bottom: 5px;
    margin-bottom: 0;
}
/* End carousel */

.client_link{
	float: none;
	clear:both;
	padding-top: 10px;
}
.client_link .img{
	width:220px;
	text-align:center;
	float:left;
}
.client_link .info{
	width:700px;
	float:right;
}
.client_link p{
	margin:0px;
	margin-bottom: 5px;
}
.title a{
	color:#004275;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: inherit;
	color:#ed1c24;
}
.nav>li.active>a, .nav>li.active>a:focus, .nav>li.active>a:hover {
	color:#ed1c24;
    background-color: inherit;
}

.side-menu {
	margin-top:30px;
}
.side-menu a{
	font-size:16px;
	color:#004275;		
}

h3{
	margin-top:10px;	
}
h3, h3 a{
	font-family: "Comfortaa";
	text-transform:uppercase;
	font-size:17px;		
	color:#004275;

}
.footer {
	color:#EDEBEB;
	margin-bottom:10px;
	float:right;	
}
.img_left_gallery{
    padding: 5px; /* Ширина паспарту */
    background: #f0f0f0; /* Цвет фона  паспарту */
    border: 1px solid #999; /* Параметры рамки */
	text-align:center;	
	float:left;
	margin:10px 15px 5px 5px;		
}

.img_right_gallery{
    padding: 5px; /* Ширина паспарту */
    background: #f0f0f0; /* Цвет фона  паспарту */
    border: 1px solid #999; /* Параметры рамки */
	text-align:center;	
	float:right;
	margin:10px 15px 5px 5px;		
}
.home_sub{
	text-align:center;	
}

.clear{
	clear:both;
}
