/* CSS Document */

@media (min-width: 768px) {
  .container {
    width: 1000px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 1000px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}
body{
	background-image:url(../images/bg_3.png);
	background-color:transparent;
	background-repeat:repeat;
}

.navbar .container{
	background-color1:#ffffff;
}
.left-column{
	background-color:#ffffff;
	padding:10px;	
}

.main-column {
	background-color:#ffffff;
	padding:10px;
}
.right-column {
	background-color:#ffffff;
}

.main-content p a{
	color:#5f5e5e;	
	font-style1:italic;
	text-indent: 10px;
}

.main-content h1{
	color:#5f5e5e;	
	font-size:17px;
	margin-top:5px;
	margin-left:10px;
}
.home_left_col h2{
	color:#5f5e5e;	
	font-size:16px;
	line-height:0%;
}
.main-content{
	min-height:700px;
	padding-bottom:30px;
}
.row{
	color:#5f5e5e;	
}
.row p a{
	color:#5f5e5e;	
}
.row p a:hover{
	color:red;	
	text-decoration:none;
}

.navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
}
.navbar-default {
    background-color: inherit;
    border: 0;
}
#defaultNavbar1{
	margin-top: 94px;
	background-color1:#F9F7F7;
	font-size:15px;	
	height:22px !important;
    text-align: right;
}
#defaultNavbar1 a{
	color:#005da4;
	font-weight:bold;
	
}
#defaultNavbar1 a:hover{
	color:#ed1c24;
}
#defaultNavbar1 .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
	padding-left:11px;
	padding-right:11px;
	letter-spacing:1px;	
}
h2{
	font-size:15px;
	text-transform:capitalize;
	color:#5f5e5e;	
	letter-spacing:1px;
}

.img_left{
	float:left;
	margin:15px 15px 0 0;	
}
.img_right{
	float:right;
	margin:15px 0 15px 15px;	
}
.col-xs-6{
	padding-left:15px;
	padding-right:15px;
	
}
